<%- include('../../partials/layout/head.ejs') %>
<body>
    <%- include('../../partials/layout/navbar.ejs') %>
    <main>
        <section id="login">
            <form action="/login" method="post">
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="example@email.com">
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <button class="button" type="submit">Login</button>
            </form>
        </section>
    </main>
</body>
<%- include('../../partials/layout/footer.ejs') %> 