<%- include('../../partials/layout/head.ejs') %>
<body>
    <%- include('../../partials/layout/navbar.ejs') %>
    <main>
        <section id="error">
            <h1>500</h1>
            <h2>Something went wrong D:</h2>
            <h2>Pleas try again later</h2>
        </section>
    </main>
</body>
<%- include('../../partials/layout/footer.ejs') %> 