<header>
    <nav id="navbar">
        <ul class="nav-container">
            <li class="nav-item <%= (typeof pageID !== 'undefined' && pageID === 'shop') ? 'active' : '' %>"><a href="/">Home</a></li>
        </ul>
    </nav>
</header>