<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <main>
        <section id="error">
            <h1>404</h1>
            <h2>Page not found :(</h2>
        </section>
    </main>
</body>
<%- include('partials/footer.ejs') %> 