<header>
    <nav id="navbar">
        <ul class="nav-container">
            <li
                class="nav-item <%= (typeof pageID !== 'undefined' && pageID === 'shop') ? 'active' : '' %>">
                <a href="/">Home</a>
            </li>
            <% if (typeof isAuthenticated !== 'undefined' && isAuthenticated) { %>
            <li
                class="nav-item <%= (typeof pageID !== 'undefined' && pageID === 'cart') ? 'active' : '' %>">
                <a href="/cart">Cart</a>
            </li>
            <% } %>
            <li
                class="nav-item auth <%= (typeof pageID !== 'undefined' && pageID === 'auth') ? 'active' : '' %>">
                <% if (typeof isAuthenticated === 'undefined' || !isAuthenticated) { %>
                    <a href="/login">Login</a>
                    <a href="/signup">Signup</a>
                <% } else { %>    
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                <% } %>
            </li>
            <li>
            </li>
        </ul>
    </nav>
</header>