<header>
    <nav id="navbar">
        <ul class="nav-container">
            <li
                class="nav-item <%= (typeof pageID !== 'undefined' && pageID === 'shop') ? 'active' : '' %>">
                <a href="/">Home</a>
            </li>
            <li
                class="nav-item <%= (typeof pageID !== 'undefined' && pageID === 'cart') ? 'active' : '' %>">
                <a href="/cart">Cart</a>
            </li>
            <li
                class="nav-item login <%= (typeof pageID !== 'undefined' && pageID === 'login') ? 'active' : '' %>">
                <a href="/login">Login</a>    
            </li>
        </ul>
    </nav>
</header>