<%- include('../../partials/layout/head.ejs') %>
<body>
    <%- include('../../partials/layout/navbar.ejs') %>
    <main>
        <section id="cart">
            <h1>Cart!</h1>
        </section>
    </main>
</body>
<%- include('../../partials/layout/footer.ejs') %> 