<%- include('../../partials/layout/head.ejs') %>
<body>
    <%- include('../../partials/layout/navbar.ejs') %>
    <main>
        <section id="shop">
            <% if (products.length > 0) { %> 
                <h1>Product list:</h1>
                <ul>
                    <% for (const product of products) { %>
                        <li><%= product.title %></li>
                    <% } %> 
                </ul>
            <% } else { %>
                <h1>There are no products! D:</h1>
            <% } %> 
            <a class="button" href="/admin/new-product">Add new</a>
        </section>
    </main>
</body>
<%- include('../../partials/layout/footer.ejs') %> 