<%- include('../../partials/layout/head.ejs') %> 
<body>
    <%- include('../../partials/layout/navbar.ejs') %>
    <main>
        <section id="new-product">
            <h1>Add new product</h1>
            <form action="/admin/new-product" method="post">
                <div class="form-control">
                    <label for="product-title">Title</label>
                    <input id="product-title" type="text" name="title" placeholder="Laptop bag"/>
                </div>
                <div class="form-control">
                    <label for="product-image">Image URL</label>
                    <input id="product-image" type="text" name="imageUrl" placeholder="https://image.freepik.com/free-vector/vector-set-laptop-laptop-bag_60352-1108.jpg"/>
                </div>
                <div class="form-control">
                    <label for="product-currency">Currency</label>
                    <div class="custom-select">
                        <select name="currency" id="product-currency">
                            <option value="$" selected>USD</option>
                        </select>
                    </div>
                </div>
                <div class="form-control">
                    <label for="product-price">Price</label>
                    <input id="product-price" type="number" name="price" placeholder="1500"/>
                </div>
                <div class="form-control">
                    <label for="product-description">Description</label>
                    <textarea id="product-description" name="description" cols="30" rows="5" placeholder="Black case for 13 inches laptops"></textarea>
                </div>
                <div class="form-control">
                    <label for="product-stock">Stock</label>
                    <input id="product-stock" type="number" name="stock" placeholder="11"/>
                </div>
                <button type="submit">Add product</button>
            </form>
        </section>
    </main>
</body>
<%- include('../../partials/layout/footer.ejs') %> 